@import url(header.css);
@import url(nav.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.main-left {
  background-color: gray;
}
.main-right {
  background-color: gray;
}
