@import url(reset.css);
@import url(header.css);
@import url(right-side.css);
@import url(nav.css);
@import url(table&modal.css);

* {
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.main-left {
  container-type: inline-size;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--bg-clr, wheat);
}

@media only screen and (max-width: 740px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .right-header {
    font-size: 1.2rem;
  }

  .main-right {
    border-left: none;
  }
}
