@import url(reset.css);
@import url(header.css);
@import url(right-side.css);
@import url(nav.css);

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* gap: 2rem; */
}

.main-left {
  background-color: rgb(238, 238, 238);
}
/* .main-right {
  background-color: gray;
} */
