.main-right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0.6rem 0 1rem 2.8rem;
  border-left: 2px solid rgb(86, 86, 86);
  width: 80%;
  max-width: 700px;
}

.right-icons-container {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding: 0.6rem 0;

  i {
    color: rgba(179, 129, 67, 0.6);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0.4rem;
    border-radius: 0.4rem;
    min-width: 36px;
    text-align: center;

    &:hover {
      color: rgb(141, 65, 32);
      scale: 1.2;
      background-color: rgb(252, 242, 230);
      box-shadow: 1px 1px 16px rgba(32, 32, 32, 0.4);
    }
  }
}

.right-header {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: rgb(34, 34, 34);
  padding-top: 0.4rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgb(172, 92, 58);
}

.right-sub-title {
  font-size: 1.2rem;
  color: rgb(34, 34, 34);
  padding-bottom: 1rem;
}

.img-container {
  position: relative;
  cursor: pointer;

  &:hover .img-overlay {
    opacity: 1;
  }
}

.img-overlay {
  position: absolute;
  background: rgba(71, 1, 1, 0.5);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-align: center;
  top: 50%;
}

.img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  transition: 0.5s ease;

  &:hover {
    border-radius: 1rem;
    box-shadow: 2px 2px 1.4rem rgba(174, 41, 14, 0.5);
  }
}

.right-bottom {
  display: flex;
  gap: 4rem;
  padding-bottom: 0.6rem;
}

.right-bottom-right {
  h3 {
    color: brown;
  }

  p {
    color: gray;
  }
}
